@source '../../**/*.blade.php';

@theme {
    --color-primary: #0000FF;
    --color-secondary: var(--color-gray);
    --color-success: var(--color-green);
    --color-warning: var(--color-yellow);
    --color-danger: var(--color-red);
    --color-info: var(--color-sky);
}