@source '../../**/*.blade.php';

@theme {
    --color-primary-50: oklch(0.97 0.014 254.604);
    --color-primary-100: oklch(0.932 0.032 255.585);
    --color-primary-200: oklch(0.882 0.059 254.128);
    --color-primary-300: oklch(0.809 0.105 251.813);
    --color-primary-400: oklch(0.707 0.165 254.624);
    --color-primary-500: oklch(0.623 0.214 259.815);
    --color-primary-600: oklch(0.546 0.245 262.881);
    --color-primary-700: oklch(0.488 0.243 264.376);
    --color-primary-800: oklch(0.424 0.199 265.638);
    --color-primary-900: oklch(0.379 0.146 265.522);
    --color-primary-950: oklch(0.282 0.091 267.935);
}